	[Unit]
	Description=Bamboo is the choice of professional teams for continuous integration, deployment, and delivery
	After=syslog.target network.target
	 
	[Service]
	Type=forking
	User=bamboo
	ExecStart=/opt/atlassian/bamboo/bin/start-bamboo.sh
	ExecStop=/opt/atlassian/bamboo/bin/stop-bamboo.sh
  SuccessExitStatus=143

	 
	[Install]
	WantedBy=multi-user.target
