[Unit] 
Description=Jira Issue & Project Tracking Software
After=network.target

[Service] 
Type=forking
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh

[Install] 
WantedBy=multi-user.target 

