[Unit] 
Description=Jira Issue & Project Tracking Software
After=syslog.target network.target

[Service] 
Type=forking
PIDFile=/opt/atlassian/jira/work/catalina.pid
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh

[Install] 
WantedBy=multi-user.target 

